// File: _general.scss
// This file contains general config.
/* STYLES GO HERE */
.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.color1 {
  background: tomato;
}
.color2 {
  background: green;
}
.color3 {
  background: orange;
}
.color4 {
  background: blueviolet;
}
.color5 {
  background: blue;
}
.color6 {
  background: yellow;
}
.color7 {
  background: red;
}
.color8 {
  background: cyan;
}
