// File: _variables.scss
// This file contains variables config.
/* STYLES GO HERE */

/*
* Logo
*/

//Rosas
$color-pink_light: #F15574;
$color_pink_middle: #cf1137;
$color-pink_dark: #71091e;
//Amarelos
$color_yellow_light: #fff573;
$color_yellow_middle: #ffee0d;
$color_yellow_dark: #a69a00;
//Verdes
$color_green_light: #72f258;
$color_green_middle: #31d310;
$color-green_dark: #1b7509;